  <% if @error %>
    <h4>Zip file with name <font color="red"><%= @filename %>.zip</font> is already unpacked</h4>
  <% else %>
    <h4>List of words loaded from file <font color="red"><%= @filename %>.zip</font>:</h4>
    <% @output.each do |word| %>
      <p><i><%= word %></i><p>
    <% end %>
  <% end %>

  <form action="/back" method="get">
    <p><input type="submit" value="Back"></p>
  </form>