<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Load from zip file</title>
</head>
<body>

<% if $pr_tr.zip_file_error %>
  <h4>Zip file with name <font color="red"><%= @filename %>.zip</font> is already unpacked</h4>
<% end %>
<h4>List of words loaded from file <font color="red"><%= @filename %>.zip</font>:</h4>
<% @output.each do |word| %>
    <p><i><%= word %></i><p>
<% end %>

<form action="/back" method="get">
<p><input type="submit" value="Back"></p>
</form>

</body>
</html>