<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Load from file</title>
</head>
<body>

  <h4>List of words loaded from file <font color="red"><%= @filename %>.txt</font>:</h4>
  <% @output.each do |word| %>
    <p><i><%= word %></i><p>
  <% end %>

  <form action="/back" method="get">
    <p><input type="submit" value="Back"></p>
  </form>

</body>
</html>