<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Save to file</title>
</head>
<body>

  <h4>File <font color="red"><%= @filename %>.txt</font> was successfully created</h4>

  <form action="/back" method="get">
    <p><input type="submit" value="Back"></p>
  </form>

</body>
</html>