  <% if @error %>
    <h4>Zip file with name <font color="red"><%= @filename %>.zip</font> is already exists</h4>
  <% else %>
    <h4>File <font color="red"><%= @filename %>.zip</font> was successfully created</h4>
  <% end %>

  <form action="/back" method="get">
    <p><input type="submit" value="Back"></p>
  </form>